<html>
<head>
    <meta charset="UTF-8">
    <title>HTML5 Preview Panel</title>
    <link href="~/Content/MiniMes/Css/selectstyle.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/MiniMes/js/jquery.min.js"></script>



</head>
<body>
    <h1>Dropdown Checkboxes</h1>

    sdfsd
    <ul>

        <li>dsdsds</li>
        <li>
            <div class="dropdown" data-control="checkbox-dropdown">


                <label class="dropdown-label">Select Options</label>

                <div class="dropdown-list">
                    <a href="#" data-toggle="check-all" class="dropdown-option">Check All</a>

                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 1"> Selection One
                    </label>

                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 2"> Selection Two
                    </label>

                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 3"> Selection Three
                    </label>

                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 4"> Selection Four
                    </label>

                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                    <label class="dropdown-option">
                        <input type="checkbox" name="dropdown-group" value="Selection 5"> Selection Five
                    </label>
                </div>

            </div>

        </li>
        <li>dsdsdsds</li>
    </ul>
    fdsfs
    <script type="text/javascript" src="~/Content/MiniMes/js/selectjs.js"></script>
    
</body>
</html>